body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    overflow-x: hidden;
}

.hero {
    background-image: url('picture/equip.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.hero-box {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 40px 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    z-index: 1;
    max-width: 500px;
    width: 90%;
}

.hero-box h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #222;
}

.hero-box p {
    margin-bottom: 20px;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, select {
    padding: 12px;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid #ddd;
    transition: all 0.3s ease;
}

.invalid {
    background-color: #ffdddd !important;
}

button {
    padding: 12px;
    background: linear-gradient(135deg, #5c17a5, #cdacf0);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: linear-gradient(135deg,  #e26dff, #d452ff, #c13cff);
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#form-message {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1rem;
}

@media screen and (max-width: 600px) {
    .hero-box {
    padding: 30px 20px;
    }
}
